<template>
  <div class="home">
    <nav>
      <ul>
        <li><router-link to="/">Главная</router-link></li>
        <li><router-link to="/web-development">Веб-разработка</router-link></li>
        <li><router-link to="/mobile-apps">Мобильные приложения</router-link></li>
        <li><router-link to="/telegram-bots">Телеграм-боты</router-link></li>
      </ul>
    </nav>
    <main>
      <h1>О компании</h1>
      <p>Мы тщательно анализируем Ваши запросы...</p>
      <img src="@/assets/company.jpg" alt="Компания">
      <p>Постановка задачи и её решение...</p>
      <footer>
        <p>Контакты: +1234567890, email@example.com</p>
      </footer>
    </main>
    <contact-form></contact-form>
  </div>
</template>

<script>
import ContactForm from '@/components/ContactForm.vue';

export default {
  components: {
    ContactForm
  }
};
</script>

<style scoped>
@import '@/assets/styles.css';
</style>
