<template>
  <div class="mobile-apps">
    <h1>Мобильные приложения</h1>
    <p>Мы создаем мобильные приложения для IOS и Android...</p>
    <contact-form></contact-form>
  </div>
</template>

<script>
import ContactForm from '@/components/ContactForm.vue';

export default {
  components: {
    ContactForm
  }
};
</script>

<style scoped>
@import '@/assets/styles.css';
</style>
