<template>
  <div class="telegram-bots">
    <h1>Телеграм-боты</h1>
    <p>Мы создаем телеграм-ботов, которые помогают автоматизировать взаимоотношения с клиентами...</p>
    <contact-form></contact-form>
  </div>
</template>

<script>
import ContactForm from '@/components/ContactForm.vue';

export default {
  components: {
    ContactForm
  }
};
</script>

<style scoped>
@import '@/assets/styles.css';
</style>
