<template>
  <div class="web-development">
    <h1>Веб-разработка</h1>
    <p>Получаем информацию, что вот разработка веб-приложений, ваших сайтов...</p>
    <p>У нас большой опыт, выполнили множество задач.</p>
    <contact-form></contact-form>
  </div>
</template>

<script>
import ContactForm from '@/components/ContactForm.vue';

export default {
  components: {
    ContactForm
  }
};
</script>

<style scoped>
@import '@/assets/styles.css';
</style>
