<template>
  <form @submit.prevent="submitForm">
    <div>
      <label for="name">Имя:</label>
      <input type="text" id="name" v-model="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email" required>
    </div>
    <div>
      <label for="message">Сообщение:</label>
      <textarea id="message" v-model="message" required></textarea>
    </div>
    <button type="submit">Отправить</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      email: '',
      message: ''
    };
  },
  methods: {
    submitForm() {
      const formData = new FormData();
      formData.append('name', this.name);
      formData.append('email', this.email);
      formData.append('message', this.message);

      fetch('contact.php', {
        method: 'POST',
        body: formData
      }).then(response => {
        if (response.ok) {
          alert('Сообщение отправлено!');
        } else {
          alert('Ошибка отправки сообщения.');
        }
      });
    }
  }
};
</script>

<style scoped>
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #ff7e5f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #feb47b;
}
</style>
